//*************************
// $$ Grid
//**************************

// Micro clearfix by @necolas
// http://nicolasgallagher.com/micro-clearfix-hack/
// @extended in generate-grids() to ensure any grid container is clearfixed
%clearfix:before,
%clearfix:after {
	content:" ";
	display:table;
}
%clearfix:after {
	clear:both;
}

@mixin generate-grid($_cols, $_width, $_gutters, $_grid_wrapper:grids) {
	$_total: $_cols * ($_width + $_gutters);
	$_margin: ($_gutters / $_total) * 100;

	[class^="grid-"] {
		float:left;
		margin: 0 (1% * $_margin) 0 0;
	}

	.#{$_grid_wrapper} {
		clear:both;
		width:auto;
		margin:0 0 0 (-1%*$_margin);
		@extend %clearfix;

		[class^=grid-] {
			float:left;
			margin:0 0 0 (1% * $_margin);
		}

		@for $i from 1 through $_cols {
			.grid-#{$i} {
				width: ((($_width * $i) + ($_gutters * ($i - 1)))/$_total)*100%;
			}
		}
	}

}
