@mixin generate-grid($cols, $width, $gutters) {

	$total: $cols * ($width + $gutters);
	$margin: ($gutters / $total) * 100;

	[class^="grid-"] {
    	float:left;
    	margin: 0 (1% * $margin) 0 0;
	}

	.grids {
		clear:both;
		width:auto;
	    margin:0 0 0 (-1%*$margin);
	    overflow:hidden; /* clear the floats */

	    [class^="grid-"] {
	        float:left;
	        margin:0 0 0 (1% * $margin);
	    }

		@for $i from 1 through $cols {
		  .grid-#{$i} {
		  	width: ((($width * $i) + ($gutters * ($i - 1)))/$total)*100%;
		  }
		}
	}
}
