// This is the code that calls the Grid Generator to output the grids on the examples page

@include generate-grid(12, 60, 20);
@include generate-grid(16, 40, 20, grids-16);
@include generate-grid(6, 150, 20, container);
@include generate-grid(24, 15, 5, grids-wrapper);

// Optionally you can set a max width on the grid container
.grids { max-width:960px; }
.grids-16 { max-width:960px; }
.grid-container { max-width:1000px; }
.grids-wrapper { max-width:480px; }


// The following styles are for examples page only

* { margin:0; padding:0; }

body {
	max-width:1000px;
	margin:0 auto;
	padding:20px;
}
h1 { font-size:3em; }
h2 { font-size:2em; }
h3 { font-size:1.5em; }
h1, h2, h3, h4 {
	margin:0 0 1em;
}
p {
	font:12px/18px;
	text-align:left;
	margin:0 0 1.5em;
}
a {
	color:#4183C4;
	&:hover {
		text-decoration:underline;
	}
}

[class^=grid-] {
	min-height:30px;
	margin-bottom:2.0083%!important;
	background:#eee;
	text-align:center;
	line-height:30px;
	outline:1px solid #ccc;
}
.grids { margin-bottom:1.5em; }
.intro {
	padding:1em 0;
	background:none;
	outline:none;
	ul {
		margin:-1.5em 0 0 1.5em;
		li { margin:-0.5em 0; }
	}
}

.code {
	display:inline-block;
	width:auto;
	margin:0.5em 0;
	padding:1em;
	background:#F8F8F8;
	border-radius:5px;
	border:1px solid #ccc;
	font-size:16px;
	text-align:left;
}
span.code {
	padding:0.25em;
	margin-right:0.5em;
	border-radius:3px;
}

.example { padding-top:1px; margin-bottom:1.5em; }
